body {
  background-color: #FFFF;
  font-family: sans-serif;
  color: BLACK;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: #FBCB38;
  border: 3px solid rgb(0, 0, 0);
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.header a{
  color: black;
  text-decoration: none;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.barras-menu {
  display: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a{
  text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
  font-weight: 600;
  font-size:x-large;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.navigation ul li a:hover {
  color: white;
}

.main {
  padding-top: 8rem;
}

.footer{
  
  background-color: #FBCB38;
  color: black;
  padding: 3rem 0;
  text-align: center;
  margin-top: 6rem;
}

.footer a{
  text-decoration: none;
  color: black;
  font-weight: 1000;
  transition: all 0.2s linear;  
}
.footer a:hover {
  color: white;
}

@media only screen and (max-width: 800px) {
  .barras-menu {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1 rem;
  }

  .navigation {
    width: 100%;
  }
  
  .navigation ul {
    display: none;
  }

  .navigation ul.show {
    display: block;
  }
  
  .navigation ul li {
    display: block;
  }
  
  .navigation ul li a{
    text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
    font-weight: 600;
    font-size:large;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 5px;
  }
  
  .navigation ul li a:hover {
    color: black;
  }
}