  form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  .formulary ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .formulary ul li{
    margin-top: 1em;
  }
  
  .formulary ul li label{
    display: inline-block;
    width: 200px;
    text-align: left;
  }
  .formulary ul li input,textarea{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  button{
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #FBCB38;
    color: black;
    font-weight: 1000;
    text-shadow: 0.5px 0.5px 1px white;
    cursor: pointer;
    transition: .3s;
  }

  button:hover{
    color: white;
  }