body {
  color: white;
}

  main{
    margin-top: 2%;
  }

  .container-history{
    padding-top: 28px;
    width: 80%;
    height: 400px;
    background: url("../images/historia.jpg") no-repeat center center/cover; 
    margin: 0 auto;
    border-radius: 15px;
  }

  .container-mission{
    padding-top: 28px;
    width: 80%;
    height: 400px;
    background: url("../images/restaurante.jpg") no-repeat center center/cover; 
    margin: 0 auto;
    border-radius: 15px;
  }
  
  .container-vision{
    padding-top: 28px;
    width: 80%;
    height: 400px;
    background: url("../images/restaurante2.jpg") no-repeat center center/cover; 
    margin: 0 auto;
    border-radius: 15px;
  }
  
  .history{
    padding:3px ;
    margin-top: 10%;
    width: 75%;
    height:min-content;
    background: rgb(0, 0, 0, 0.4); 
    margin: 0 auto;
    text-align: justify;
    border-radius: 15px;
  }

  .mission{
    padding:3px ;
    margin-top: 10%;
    width: 75%;
    height:min-content;
    background: rgb(0, 0, 0, 0.4); 
    margin: 0 auto;
    text-align: justify;
    border-radius: 15px;
  }

  .vision{
    padding: 3px ;
    margin-top: 10%;
    width: 75%;
    height:min-content;
    background: rgb(0, 0, 0, 0.4); 
    margin: 0 auto;
    text-align: justify;
    border-radius: 15px;
  }

  h2{
    text-align: center;
  }

  hr{
    width: 80%;
    height: 3px solid black;
  }

  
@media only screen and (max-width: 800px) {
  main{
    margin-top: 2%;
  }

  .history{
    padding:3px ;
    margin-top: 10%;
    width: 75%;
    height:min-content;
    background: rgb(0, 0, 0, 0.4); 
    margin: 0 auto;
    text-align: justify;
    border-radius: 15px;
  }

  .mission{
    padding:3px ;
    margin-top: 10%;
    width: 75%;
    height:min-content;
    background: rgb(0, 0, 0, 0.4); 
    margin: 0 auto;
    text-align: justify;
    border-radius: 15px;
  }

  .vision{
    padding: 3px ;
    margin-top: 10%;
    width: 75%;
    height:min-content;
    background: rgb(0, 0, 0, 0.4); 
    margin: 0 auto;
    text-align: justify;
    border-radius: 15px;
  }}






